.message {
    width: fit-content;
    margin: 1rem 0;
    min-height: 40px;
    min-width: 300px;
    padding: .6rem 1rem;
    background-color: #fff;
    box-shadow: 0 8px 6px -6px #555;
    border-radius: 5px;
}
