.item {
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    width: 95%;
    padding: 15px;
    background-color: #fff;
    min-height: 150px;
    box-shadow: 0 0 4px #999999;
    border-radius: 3px;

}

.likes {
    padding-top: 4px;
    width: 40px;
    height: 25px;
    background-color: #bcdeff;
    border-radius: 4px;
    box-shadow: 0 0 4px #999;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.likes:hover {
    cursor: pointer;
    background-color: #ceffee;
}
