.item {
    position: relative;
    margin: 1.2rem auto;
    width: 97%;
    padding: 15px;
    background-color: #fff;
    min-height: 120px;
    box-shadow: 0 8px 6px -6px #777;
    border-radius: 7px;
}

.likes {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    background-color: #bcdeff;
    border-radius: 4px;
    box-shadow: 0 0 4px #999;
    outline: none;
    border: none;
}

.likes:hover {
    cursor: pointer;
    background-color: #ceffee;
}
