*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.app-wrapper {
    display: grid;
    height: 100vh;
    grid-template: 60px 1fr / 130px 1fr;
    grid-template-areas:
        "h h"
        "n c";
    background-color:#eee;
}

.app-wrapper-content {
    grid-area: c;
    padding: 0 1rem;
}
