.wrapper {
    height: 100%;
    display: grid;
    column-gap: 20px;
    grid-template: 1fr 10rem / 1fr 6fr ;
    grid-template-areas:
        "d m"
        "d n";
}

.dialogsItems {
    grid-area: d;
    background-color: #ffffff;
    padding: 8px;
    display: grid;
    grid-auto-rows: 2rem;
    font-weight: 500;
    box-shadow: 0 0 3px #888;
}

.messagesItems {
    margin-top: 1rem;
    grid-area: m;
    max-width: 500px;
    max-height: 400px;
    overflow-y: scroll;
}
